html {
  height: 100%;
}

body {
  background-color: var(--pageBgColor);
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.App {
  text-align: center;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  height: 100%;
  max-height: 100%;
}

header {
  height: max-content;
  color: white;
  margin: 0.5rem 0;
}

header .title {
  font-size: calc(12px + 1.8vmin);
}

footer {
  /*width: 100%;*/
  height: auto;
  color: white;
  display: grid;
  grid-template-rows: 1fr max-content;
  align-items: center;
  justify-items: center;
  padding: 0.5rem;
  margin-bottom: 0.3rem;
}

footer .footer-toggle {
  /*right: 0;*/
  /*width: 100%;*/
  width: max-content;
  display: flex;
  justify-content: space-between;
  border-radius: 0.15rem;
  margin: 0 1rem;
  cursor: pointer;
}

footer .footer-toggle:hover {
  background-color: var(--hoverBgColor);
  /*margin-left: 1rem;*/
}

/*footer .footer-toggle > * {*/
/*  padding: 0 1rem;*/
/*}*/

footer .controls {
  font-size: calc(8px + 1.1vmin);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

footer .controls > div input {
  width: 90%;
}

footer .controls > div {
  display: flex;
  align-items: center;
  padding: 0.3rem 0.5rem;
  border: 1px solid transparent;
  border-radius: 0.4rem;
  margin: 0.5rem 0;
}
/*footer .controls > div > * {*/
/*  padding: 0 0.2rem;*/
/*}*/
footer .controls > div:hover {
  background-color: var(--hoverBgColor);
  cursor: pointer;
}


.small-button-section {
  display: flex;
  align-items: center;
  flex-direction: row;
  /*width: 100%;*/
  justify-content: space-between;
  margin: 0 1rem;
}

.update-button {
  margin: 0 1rem;
}

.update-button button {
  padding-left: 0.5rem;
  font-size: 0.7rem;
  border-radius: 1rem;
  border-width: 0;
}
.update-button button:disabled {
  font-size: 0.5rem;
  border-radius: 0.5rem;
  opacity: 0.5;
}

.loading-icon {
  margin: 0 1rem;
}

.github-logo {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  right: 0rem;
  top: 0rem;
  margin-top: 0.3rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.github-logo:hover {
  border-radius: 0.25rem;
  background-color: var(--hoverBgColor);
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: white;
}

.github-logo a {
  display: flex;
}

.github-logo:hover .github-link-text{
  display: block;
}

.github-link-text{
  display: none;
  padding-right: 0.5rem;
  font-size: 0.75rem;
}

.github-logo img {
  width: 1.25rem;
  height: 1.25rem;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

.sketch_wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-content: center;
  /*border: 1px solid black;*/
}

.sketch_wrapper canvas {
  border: 1px solid black;
}

/*.sketch_wrapper > * {*/
/*  border: 1px solid black;*/
/*  margin: 0;*/
/*  padding: 0;*/
/*}*/


@media (min-width: 63.5rem) {

}


/*@media screen and (min-width: 63.5rem) {*/
/*  .App-header {*/
/*    height: 100px;*/
/*  }*/

/*  .update-button {*/
/*    grid-column: 7;*/
/*  }*/

/*  .App-header .controls {*/
/*    grid-template-columns: repeat(7, 1fr);*/
/*    grid-template-rows: 1fr;*/
/*  }*/
/*}*/

